# original file: .env.test - This file is were the variables used by the test are stored

NEXT_PUBLIC_THEMOVIEDB_ACCESS_TOKEN= # access token can be gotten from https://developer.themoviedb.org
NEXT_PUBLIC_ACCESS_TOKEN_SECRET= # this is used to generate jwt. Can be anything

NEXT_PUBLIC_ACCESS_TOKEN= # Paste the JWT (acess_token) from browser storage after you login

# neon db postgres configs https://neon.tech/
PGHOST=
PGDATABASE=
PGUSER=
PGPASSWORD=