NEXT_PUBLIC_THEMOVIEDB_ACCESS_TOKEN=
NEXT_PUBLIC_ACCESS_TOKEN_SECRET=

NEXT_PUBLIC_ACCESS_TOKEN= # should only be included in .env.test

# neon db postgres configs
PGHOST=
PGDATABASE=
PGUSER=
PGPASSWORD=