.mantine-RichTextEditor-content {
  min-height: 100px;
  background-color: #fafafa;
}

ul {
  list-style-type: inherit;
}

.mantine-TextInput-input,
.mantine-PasswordInput-input,
.mantine-Button-root {
  height: 40px;
  border-color: rgb(210, 210, 210);
}

.mantine-Carousel-control {
  background-color: #062828;
  color: #6fda86;
  border: none;
  svg {
    height: 24px;
    width: 24px;
  }
}
